// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$color-1: #F44336; // red
$color-2: #2196F3; // blue
$color-3: #FFEB3B; // yellow
$color-4: #9E9E9E; // gray
$color-5: #4CAF50; // green


// fonts 

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;